// Colors
$dark-liver: #50514F;
$sunset-orange: #F25F5C;
$mustard: #FFE066;
$lapis-lazuli: #247BA0;
$green-sheen: #70C1B3;
$white: #FFFFFF;

$rosaoscuro: #f48fb1;
$rosamedio: #f8bbd0;
$rosasuave: #fce4ec;

$grisoscuro: #a3a2a1;
$grismedio: #e0e0e0;
$grissuave: #eeeeee;