@import "variables";
@import "bootstrap-custom";
@import "bootstrap/theme";
@import "font-awesome";

.degradado-rosamedio{
	background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(248,187,208,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$rosamedio',GradientType=0 ); /* ie6-9 */
}

.degradado-rosaoscuro{
	background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(248,187,208,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,187,208,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$rosaoscuro',GradientType=0 ); /* ie6-9 */
}

.cabecera{
	width: 100vw;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container{
	width: 100vw;
	color: $grisoscuro;
}

body{
	background-color: $grissuave;
}

.centrado{
	text-align:center;
}

.logo > img{
	height: 35px;
	width: auto;
}

.menu{
	padding-top: 10px;
}

.menu > a{
	text-decoration: none;
	color:$grisoscuro;
	&:hover{
		text-decoration: none;
		color:$grisoscuro;
	}
}
.menu > a > i{
	font-size: 18px;
}

.busqueda{
	padding-top: 5px;
}
.busqueda > i{
	font-size: 18px;
	color: $grisoscuro;
}

.cuerpo{
	background-color: $grissuave;
}

.ui-form{
	padding: 25px;
	border-radius: 15px;
	box-shadow: 10px 10px 20px $grisoscuro;
}

.ui-ideal{
	background-color: black;
}

.tema1{
	background-image: url("../../img/covers/Cover-1.png");
	height: 160px;
	opacity: 0.5;
	background-size: 160px 160px;
    background-repeat: no-repeat;
	&:hover{
		opacity:1;
	}
}

.tema2{
	background-image: url("../../img/covers/Cover-2.png");
	height: 160px;
	opacity: 0.5;
	background-size: 160px 160px;
    background-repeat: no-repeat;
	&:hover{
		opacity:1;
	}
}

.tema3{
	background-image: url("../../img/covers/Cover-3.png");
	height: 160px;
	opacity: 0.5;
	background-size: 160px 160px;
    background-repeat: no-repeat;
	&:hover{
		opacity:1;
	}
}

.tema4{
	background-image: url("../../img/covers/Cover-4.png");
	height: 160px;
	opacity: 0.5;
	background-size: 160px 160px;
    background-repeat: no-repeat;
	&:hover{
		opacity:1;
	}
}
.ui-blank-element{
	padding: 5px;
	text-align: center;
}

.ui-blank{
	padding: 25px;
	border-radius: 15px;
	box-shadow: 10px 10px 20px $grisoscuro;
}

.ui-error{
	padding: 25px;
	border-radius: 15px;
	box-shadow: 10px 10px 20px $grisoscuro;
}

.ui-loading{
	text-align: center;
	padding: 30px;
}

.ui-loading > i{
	color:$grisoscuro;
}

.ui-loading > p{
	color:$grisoscuro;
}

.arrow_box{
	position: relative;
	background: $grissuave;
	border: 2px solid #a3a2a1;
	height: 200px;
	border-radius: 15px;
	box-sizing: border-box;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #eeeeee;;
	border-width: 40px;
	margin-top: -40px;
}
.arrow_box:before {
	border-color: rgba(163, 162, 161, 0);
	border-left-color: #a3a2a1;
	border-width: 43px;
	margin-top: -43px;
}

.boton{
	border-radius: 15px;
	width: 200px;
	text-align: center;
	color: $grisoscuro;
}

img.resize{
    width:100px;
    height: auto;
}

ul > li > a{
	color: $grisoscuro;
}

ul > li > a > i{
	color: $grisoscuro;
}


/*busqueda con la lupa*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}